@media (min-width:700px) {
	.top-content {
		padding: 96px 0;
	}
	.top-logo {
		margin-bottom: 48px;
		> img {
			max-width: 400px;
			height: auto;
		}
	}
	.top-info {
		max-width: 520px;
		margin: 0 auto;
		padding: 16px;
	}
	.top-info-pwrap {
		text-align: center;
	}
	.top-info-p {
		display: inline-block;
		vertical-align: middle;
		margin-top: 16px;
		margin-right: 16px;
		&:last-child {
			margin-right: 0;
		}
		a {
			padding: 8px 16px;
			width: auto;
			font-size: 1em;
			transition: color .2s, background-color .2s;
			&:hover {
				color: white;
				background-color: transparent;
			}
		}
	}
	.dbtn {
		margin: 32px 0;
	}
	.mail {
		padding: 8px 16px;
	}
	
	/*LAYANAN*/
	.lyn {
		padding: 48px 0 16px 0;
	}
	.lyn-title {
		margin-bottom: 32px;
	}
	.lynwrap{
		max-width: 960px;
		margin: 0 auto;
		text-align: center;
	}
	.lyn-item {
		display: inline-block;
		vertical-align: top;
		width: 36%;
		margin-bottom: 32px;
		&:nth-child(odd){
			margin-right: 16px;
		}
		&:nth-child(even){
			margin-left: 16px;
		}
	}
	
	/*LAINNYA*/
	.lnn {
		padding: 32px 0;
	}
	.lnn-title {
		text-align: left;
		max-width: 960px;
		margin: 0 auto 16px auto;
		padding: 0 16px;
	}
	.lnn-ul {
		max-width: 960px;
		margin: 0 auto;
	}
	.lnn-item {
		display: inline-block;
		vertical-align: top;
		width: 20%;
		padding: 0 16px;
	}
	
	/*AKSES*/
	.acs {
		padding: 48px 16px;
	}
	.acs-title {
		margin-bottom: 32px;
	}
	.acs-content {
		max-width: 960px;
		margin: 0 auto;
	}
	.acs-right {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		padding: 0 16px;
	}
	.acs-left {
		display: inline-block;
		vertical-align: top;
		width: 50%;
	}
	.acs-tel {
		margin-top: 16px;
		padding: 16px;
	}
	.acs-tel-mt {
		margin-top: 16px;
	}
	.acs-mapbtn {
		margin-top: 16px;
		margin-bottom: 16px;
		> a {
			padding: 8px 16px;
		}
	}
	
	/*CONTACT*/
	.contact-formwrap {
		max-width: 500px;
		margin: 0 auto;
	}
	.contact-form {
		input[type="text"] {
			padding: 8px;
		}
		textarea {
			padding: 8px;
		}
		> p {
			margin-bottom: 16px;
		}
	}
	
	/*FOOTER*/
	.ftr {
		padding: 32px 16px;
	}
	.ftr-img {
		> img {
			width: 300px;
		}
	}
}