/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**VARIABLES**/
body {
  line-height: 1.4;
  font-size: 16px; }

/*TOP AREA*/
.top-logo {
  text-align: center; }

.top-info {
  text-align: center; }

.top {
  position: relative;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.top-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); }

.top-content {
  position: relative;
  box-sizing: border-box;
  padding: 12%; }

.top-logo {
  text-align: center;
  margin-bottom: 12%; }
  .top-logo > img {
    width: 80%; }

.top-info {
  color: white;
  box-sizing: border-box;
  padding: 4%;
  border: 1px solid white;
  border-radius: 6px; }
  .top-info a {
    color: white; }

.top-info-p {
  margin-top: 8%; }
  .top-info-p a {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 2%;
    width: 100%;
    background-color: white;
    color: #545454;
    text-decoration: none;
    font-size: 1.414em;
    border-radius: 4px;
    border: 1px solid white; }
  .top-info-p.fax a {
    width: auto;
    color: white;
    background-color: transparent;
    font-size: 1em;
    border: none; }

/*LAYANAN*/
.lyn {
  box-sizing: border-box;
  padding: 4%;
  background-color: #f4f4f4; }

.lyn-title {
  font-size: 1.999em;
  color: #545454;
  text-align: center; }

@media (min-width: 700px) {
  .top-content {
    padding: 96px 0; }

  .top-logo {
    margin-bottom: 48px; }
    .top-logo > img {
      max-width: 400px;
      height: auto; }

  .top-info {
    max-width: 500px;
    margin: 0 auto;
    padding: 16px; }

  .top-info-pwrap {
    text-align: center; }

  .top-info-p {
    display: inline-block;
    vertical-align: middle;
    margin-top: 16px;
    margin-right: 30px; }
    .top-info-p:last-child {
      margin-right: 0; }
    .top-info-p a {
      padding: 8px 16px;
      width: auto;
      font-size: 1em;
      transition: color .2s, background-color .2s; }
      .top-info-p a:hover {
        color: white;
        background-color: transparent; } }

/*# sourceMappingURL=style.css.map */
